.movie-tab-left {
  padding: 40px;
}
.movie-tab-right {
  padding: 40px;
}
//Poster
.poster {
  width: 300px;
  height: 450px;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}
.play-bt {
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  &:hover {
    cursor: pointer;
    color:#ffffff;
  }
}

//Details
.reating-movie-detail {
  span {
    margin-right: 10px;
  }
}
.details-rating {
  display: flex;
  padding: 20px 0;
  button {
    position: relative;
    top: 14px;
    text-align: center;
    padding: 0 3px;
  }
}
.details-title {
  font-size: 2rem;
  color: #43464b;
  text-transform: capitalize;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 34px;
}
.vn-upper-text {
  color: #a0a3a7;
}
.activeRating {
  color: #fac917;
  font-size: 16px;
}
.content-text {
  text-align: justify;
  font-size: 15px;
}
.info {
  margin: 10px 0;
  p {
    color: rgb(0, 0, 0);
    white-space: pre-wrap;
    font-size: 14px;
    text-align: justify;
  }
}
.icon-times-left {
  vertical-align: middle;
  margin: 0 8px;
  display: inline-flex;
}
.details-info {
  font-size: 15px;
  label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    line-height: 20px;
    color: #a0a3a7;
    float: left;
    a {
      text-transform: uppercase;
      color: var(--nav-color);
    }
  }
}
.details-info-right {
  color: #43464b;
  text-transform: capitalize;
}
//Content
.info {
  position: relative;
  a {
    content: "An xem them";
    display: block;
  }
}
