.container {
  background-color: #f7f9fa;
  padding: 10px 0;
  width: 100%;
}
.navbar {
  display: flex;
  width: 100%;
  height: 100%;
}
.secondary-nav-wrapper {
  position: relative;
}
.logo-mobie {
  display: none;
  width: 135px;
  height: 76px;
  margin-left: 20px;
  img {
    width: 100%;
  }
}
.secondary-nav {
  position: relative;
  float: right;
  top: -70px;
  margin-right: 20px;
}
.secondary-nav > li {
  display: inline-block;
  margin-left: 20px;
}
.logoLink {
  color: var(--text-color);
  font-size: 1.2rem;
  display: inline-block;
}
.logoLink:hover {
  color: var(--orange-color);
}
/*Navigation bar*/
.nav-wrapper {
  background-color: #000000;
  height: 50px;
}
.nav-container {
  width: var(--container-width);
  max-width: 100%;
  height: 100%;
  display: inline-block;
}
.primary-nav-tit {
  width: calc(100% / 7);
  color: var(--primary);
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 10px 10px 0px;
  svg {
    padding-left: 10px;
  }
}
.primary-nav-tit {
  a {
    color: var(--primary);
  }
}
.primary-nav-tit:not(:first-child):before {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 25px;
  background-color: var(--primary);
}
.primary-nav-tit:hover {
  a {
    color: var(--orange-color);
  }
}
.subnav {
  position: relative;
  z-index: 2;
  svg {
    color: var(--primary);
    margin-left: 15px;
    position: relative;
    top: 50%;
    transform: translate(0, -15px);
  }
}
.submenu-movie {
  width: var(--container-width);
  color: var(--primary);
  z-index: 2;
  position: relative;
  padding-top: 20px;
  margin-top: 16px;
}
.subnav:hover .submenu-movie {
  display: block;
  position: relative;
  top: -10px;
}
//sub-menu1
.submenu-title {
  h3 {
    color: var(--primary);
  }
}
.submenu-title h3 {
  text-align: left;
  padding-left: 30px;
  font-weight: 400;
  font-size: 1.7rem;
}
.submenu-title h3::after {
  content: "";
  position: relative;
  display: block;
  width: 50px;
  height: 2px;
  background-color: var(--orange-color);
  margin: 5px 0 20px 0;
}
.submenu-title h3:hover {
  animation: changeColor 0.5s linear forwards;
}
.submenu-group {
  display: flex;
  article {
    margin: 10px 10px 20px 10px;
  }
}
.submenu-group > article > figure {
  a:hover {
    color: var(--primary);
  }
}
.submenu-movie {
  width: var(--submenu-movie);
  height: auto;
  background-color: var(--nav-color);
}
//sub-menu2,3
@keyframes changeColor {
  from {
    color: var(--primary);
  }
  to {
    color: var(--orange-color);
  }
}
.container {
  background-color: #f7f9fa;
  padding: 10px 0;
  width: 100%;
}
.secondary-nav-wrapper {
  position: relative;
}
.logo-mobie {
  width: 135px;
  height: 76px;
  margin-left: 20px;
  img {
    width: 100%;
  }
}
.secondary-nav {
  position: relative;
  float: right;
  top: -70px;
  margin-right: 20px;
}
.secondary-nav > li {
  display: inline-block;
  margin-left: 20px;
}
.logoLink {
  color: var(--text-color);
  font-size: 1.2rem;
  display: inline-block;
}
.logoLink:hover {
  color: var(--orange-color);
}
@media screen and (max-width: 600px) {
  .nav-container {
    background-color: var(--primary);
  }
  .logo-mobie {
    display: block;
  }
}
