.description {
  display: none;
}
.info {
  h2,
  p {
    color: var(--primary);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 20px;
  }
}
.info {
  p {
    font-weight: 300;
    -webkit-line-clamp: 2;
  }
}
.group {
  position: relative;
  top: 45%;
  right: -30%;
}
.promotion > div {
  article {
    margin-bottom: 20px;
  }
}
.promotion-item:hover {
  .description {
    display: block;
  }
}
