.sub-menu {
  background-color: #000000;
  width: 200px;
  margin-top: 25px;
  color: #ffffff;
  list-style-type: none;
  padding: 20px;

}
.submenu-list {
  display: inline-block;
  width: 150px;
  height: 50px;
}
.submenu-list {
  a {
    display: inline-block;
    text-decoration: none;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    color: var(--primary);
    user-select: none;
    text-transform: uppercase;
  }
}
.submenu-list:hover {
  a {
    animation: changeColor 0.5s linear forwards;
  }
}

@keyframes changeColor {
  from {
    color: var(--primary);
  }
  to {
    color: var(--orange-color);
  }
}
