.container {
  background-color: #f7f9fa;
  padding: 10px 0;
  width: 100%;
}
.logo-mobie {
  width: 135px;
  height: 76px;
  margin-left: 20px;
  img {
    width: 100%;
  }
}
.secondary-nav {
  position: relative;
  float: right;
  top: -70px;
  margin-right: 20px;
}
.secondary-nav > li {
  display: inline-block;
  margin-left: 20px;
}
.logoLink {
  color: var(--text-color);
  font-size: 1.2rem;
  display: inline-block;
}
.logoLink:hover {
  color: var(--orange-color);
}
.btn-close-mobie {
  position: relative;
  top: 10px;
  span {
    display: block;
    margin-bottom: 4px;
    width: 35px;
    height: 2px;
    background-color: var(--text-color);
    cursor: pointer;
  }
}
//Sed-nav
.sed-nav-mobie {
  position: relative;
  top: -120px;
  right: 0;
  left: 0;
  z-index: 2;
  background-color: var(--primary);
  padding-right: 20px;
  transform-origin: 90% top right;
  animation: scaleUp 0.5s ease-in-out forwards;
}
.x-close {
  position: relative;
  padding: 10px 0;
  svg {
    position: absolute;
    right: 0;
    font-size: 3rem;
    color: var(--text-color);
  }
}
@keyframes scaleUp {
  from {
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}


