.hotnews {
  margin: 25px 0;
  color: red;
  font-size: 20px;
  float: right;
  a {
    color: var(--VN-color-text);
    text-decoration: none;
  }
}
.moreInfo-btn {
  position: relative;
  button {
    position: absolute;
    right: 0;
    a {
      text-transform: uppercase;
      color: var(--primary);
    }
  }
}
/*Movie Blog*/
/*Content Seo*/
@media screen and (max-width: 600px) {
  .hotnews {
    float: none;
  }
  .moreInfo-btn > button {
    top: 20px;
  }
}
