.blog {
  display: flex;
}
.blog-img {
  margin-right: 20px;
}
//Description
h5 {
  a {
    font-size: 1.8rem;
    line-height: 22px;
    color: #43464b;
  }
}
h5:hover > a,
h5.active > a {
  color: var(--orange-color);
}
.likes,
.views,
.star {
  display: inline-block;
  margin: 0 10px 0 0;
  padding-right: 5px;
  font-size: 1.4rem;
  text-align: center;
}
.likes {
  width: 90px;
  background-color: #1877f2;
  color: var(--primary);
  border-radius: 3px;
}
.views {
  width: 64px;
  background-color: #e9edf1;
  color: #717273;
  border-radius: 3px;
}
.star {
  svg {
    color: #fac917;
    font-size: 1.8rem;
  }
}
.blog-content {
  max-width: 100%;
  padding: 10px 10px 0 0;
  color: var(--VN-color-text);
  font-size: 1.4rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  span {
    font-style: italic;
    margin-right: 5px;
  }
}
@media screen and (max-width: 600px) {
  .title-blog {
    margin-top: 20px;
  }
  .blog-content {
    display: none;
  }
}
