.user-info{
    display: flex;
    margin-right: 30px;
    img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
}
.user-name {
    display: inline-block;
    width: 50px;
}
.signOut {
    width: 100px;
    height: auto;
    padding: 10px;
    background-color: #a0a3a7;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}