.vnTit,.enTit {
  font-size: 1.6rem;
  margin: 5px 0;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 34px;
}
.enTit {
  color: var(--text-color);
}

