//List group
.panel-heading {
  border-radius: 0;
  color: #ffffff;
  background-color: #f26b38;
  border-color: #f26b38;
  height: 40px;
  line-height: 20px;
  text-align: center;
}
.panel-title {
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.6rem;
  line-height: 1.5;
  padding: 10px 0;
}
.movie-items {
  border-left: solid 1px var(--text-color);
  border-right: solid 1px var(--text-color);
  border-bottom: solid 1px var(--text-color);
  padding: 10px;
  color: var(--text-color);
  &:hover {
    cursor: default;
  }
}
.movie-items {
  a {
    display: inline-block;
    height: 98px;
    width: 100%;
  }
}
.list-group-item-movie {
  padding: 20px 15px 35px 15px;
}
.showtimes-row {
  height: 42px;
  padding: 20px 10px;
}
.showtimes-row {
  img {
    float: left;
    width: 60px;
    height: 40px;
    margin-right: 10px;
  }
}
.rate {
  width: 28px;
  height: 22px;
  background-color: var(--orange-color);
  color: var(--primary);
  font-size: 1.2rem;
  padding: 2px;
  float: right;
  margin: 0px -15px;
  position: relative;
  top: -50px;
}
.title-movie {
  position: relative;
  font-size: 1.8rem;
  line-height: 20px;
}
.vn-title {
  color: #000000;
  font-size: 1.4rem;
  text-transform: uppercase;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.en-title {
  color: #a0a3a7;
  font-size: 1.4rem;
  text-transform: uppercase;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.session-day {
  padding-bottom: 10px;
}
.session-group {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem;
  color: #43464b;
  li {
    display: block;
    border: 1px solid var(--text-color);
    margin: 10px 10px 0 0;
    padding: 5px 10px;
    cursor: default;
    &:hover {
      color: var(--orange-color);
      border-color: var(--orange-color);
    }
  }
}

@keyframes growthUp {
  from {
    transform: scaleX(0%);
  }
  to {
    transform: scaleX(100%);
  }
}

@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
}
